name: Test and Release

on: push

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  STACK_BASE_NAME: bddawsx-${{ github.sha }}

jobs:
  tests:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"
      - name: Install dependencies
        run: npm ci --no-audit

      - name: Bootstrap AWS account for CDK
        run: |
          npx cdk bootstrap aws://`aws sts get-caller-identity | jq -r '.Account' | tr -d '\n'`/${{ secrets.AWS_REGION }}

      - name: Set up test resources
        run: npx cdk deploy --require-approval never

      - name: Test
        run: |
          npx tsx features/run-features.ts > e2e-test-result.json
          cat e2e-test-result.json | npx tsx features/console-reporter.ts
          cat e2e-test-result.json | npx tsx features/markdown-reporter.ts >> $GITHUB_STEP_SUMMARY
          cat e2e-test-result.json | npx tsx features/traceToMermaid.ts >> $GITHUB_STEP_SUMMARY

      - name: Semantic release
        if: success()
        continue-on-error: true
        run: |
          npm i --no-save semantic-release@next
          npx semantic-release

      - name: Clean up End-to-End test resources
        if: always()
        run: npx cdk destroy -f
